* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrainsMono, sans-serif;
    font-size: 13px;
}

/*---БАР----------------------------------------------------------------*/
window#waybar {
    background-color: rgba(43, 48, 59, 0.0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 0px;
    margin: 0px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}


/*---КНОПКИ-------------------------------------------------------------*/
button {
    margin: 0px;
    padding: 10px;
    background-color: #262a32;
    color: #d8dee8;
    border-radius: 25px;
}

button:hover {
    margin: 0px;
    padding: 10px;
    background-color: #262a32;
    color: #d8dee8;
    border-radius: 25px;
}

button:focus {
    margin: 0px;
    padding: 10px;
    background-color: #262a32;
    color: #d8dee8;
    border-radius: 25px;
}


/*---КНОПКИ ОКОН--------------------------------------------------------*/
#workspaces {
    margin: 0px;
}

#workspaces button {
    padding: 0px 14px;
    margin: 5px;
    background-color: #262a32;
    color: #444b6a;
    border-radius: 26px;
}

#workspaces button:hover {
    color: #444b6a;
}

#workspaces button.active {
    background-color: #262a32;
    color: #0db9d7;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


/*---ТРЕЙ---------------------------------------------------------------*/
#tray {
    padding: 5px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #d8dee8;
    border-radius: 15px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

/*---CMUS---------------------------------------------------------------*/
#custom-cmus {
    padding: 0px 15px 0px 15px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #b9f27c;
    border-radius: 25px;
}


/*---ALSA---------------------------------------------------------------*/
#custom-alsa {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #ff9e64;
    border-radius: 25px;
}

#pulseaudio {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #ff9e64;
    border-radius: 25px;
}

#pulseaudio.microphone {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #ff9e64;
    border-radius: 25px;
}

#battery {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #ff9e64;
    border-radius: 25px;
}

#backlight {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #ff9e64;
    border-radius: 25px;
}

#custom-freedisk {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #ff9e64;
    border-radius: 25px;
}
#cpu {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #ff9e64;
    border-radius: 25px;
}
#memory {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #ff9e64;
    border-radius: 25px;
}
/*---WINDOW-------------------------------------------------------------*/
#window {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #0db9d7;
    border-radius: 25px;
}

#custom-vpn {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #9FEF00;
    border-radius: 25px;
}
#custom-vpn-2 {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #D1212D;
    border-radius: 25px;
}

/*---WINDOW-------------------------------------------------------------*/
#clock {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #ff7a93;
    border-radius: 25px;
}


#mode,
#language,
#custom-weather {
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: #262a32;
    color: #d8dee8;
    border-radius: 25px;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #ffffff;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0px 0px;
    margin: 0px 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0px 0px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
